In [60]:
import pandas as pd
import matplotlib.pyplot as plt
df = pd.read_csv("MainStreets_Business_List.csv")
df

,Unnamed: 0,latitude,longitude,business_name,street_address,ZIP_code,NAICS_2017_6digit_code,NAICS_2017_6digit_desc,NAICS_2017_2digit_code,NAICS_2017_2digit_desc,estimated_employment,employment_buckets,mainstreet
0,1,42.349398,-71.154065,zisis convenience store,375 Washington St,2135,452319,All Other General Merchandise Stores,45,Retail Trade,1,1 to 9,Brighton
1,2,42.350387,-71.165135,ziggy's,583 Washington St,2135,0,,99,Undefined,0,Not Available,Brighton
2,3,42.349219,-71.151769,zen zone acupuncture & spa,319 Washington St,2135,621399,Offices of All Other Miscellaneous Health Prac...,62,Healthcare and Social Assistance,2,1 to 9,Brighton
3,4,42.349465,-71.153117,yes nails & spa inc,416 Market St,2135,812113,Nail Salons,81,Other Services,3,1 to 9,Brighton
4,5,42.349453,-71.151543,xfinity,12 Wirt St,2135,515210,Cable and Other Subscription Programming,51,Information,13,10 to 24,Brighton
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4933,4934,42.334142,-71.104168,7-eleven,722 Huntington Ave,2115,445120,Convenience Stores,44,Retail Trade,9,1 to 9,Mission Hill
4934,4935,42.332113,-71.099582,"123 terrace street, llc",1514 Tremont St,2120,0,,99,Undefined,0,Not Available,Mission Hill
4935,4936,42.331603,-71.112383,10 jamaica way,10 Jamaicaway,2130,0,,99,Undefined,0,Not Available,Mission Hill
4936,4937,42.333447,-71.105691,t baar,754 Huntington Ave,2115,445299,All Other Specialty Food Stores,44,Retail Trade,0,Not Available,Mission Hill
4937,4938,42.336170,-71.107132,"brigham & women's physicians organization, inc",75 Francis St,2115,0,,99,Undefined,4,1 to 9,Mission Hill

In [26]:
import geopandas as gpd
import folium
data = gpd.read_file("City_Council_Districts_View.geojson")
dis4 = data.loc[data["DISTRICT"]==4]
dis4_e=dis4.explode(index_parts=True)

In [27]:
from shapely.geometry import Point

df["inDis4"]=""
within_dis4 = []
for lon,lat in zip(df['longitude'], df['latitude']):
    point = Point(lon, lat)
#     within = pt.within(dis4_e["geometry"].values[0])
    dis4 = dis4_e["geometry"].values[0].contains(point)
    within_dis4.append(dis4)
df["inDis4"] = within_dis4
business_dis4_df = df[df["inDis4"]==True]

In [28]:
business_dis4_df

,Unnamed: 0,latitude,longitude,business_name,street_address,ZIP_code,NAICS_2017_6digit_code,NAICS_2017_6digit_desc,NAICS_2017_2digit_code,NAICS_2017_2digit_desc,estimated_employment,employment_buckets,mainstreet,inDis4
2667,2668,42.311327,-71.080831,wingz + tingz,388 Blue Hill Ave,2121,722511,Full-Service Restaurants,72,Accommodation and Food Services,5,1 to 9,Greater Grove Hall,True
2670,2671,42.305682,-71.081282,washington columbia li,95 Washington St,2121,531210,Offices of Real Estate Agents and Brokers,53,Real Estate Rental and Leasing,3,1 to 9,Greater Grove Hall,True
2671,2672,42.305682,-71.081282,washington columbia ii apartments,95 Washington St,2121,0,,99,Undefined,5,1 to 9,Greater Grove Hall,True
2672,2673,42.305404,-71.081098,washington columbia ii,102 Columbia Rd,2121,0,,99,Undefined,0,Not Available,Greater Grove Hall,True
2674,2675,42.307953,-71.083183,vip wireless,482 Blue Hill Ave,2121,517312,Wireless Telecommunications Carriers (except S...,51,Information,2,1 to 9,Greater Grove Hall,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3686,3687,42.285999,-71.064815,ashmont grill,555 Talbot Ave,2124,722310,Food Service Contractors,72,Accommodation and Food Services,50,50 to 99,Greater Ashmont,True
3687,3688,42.283340,-71.065117,ashmont cycles inc,1977 Dorchester Ave,2124,451110,Sporting Goods Stores,45,Retail Trade,3,1 to 9,Greater Ashmont,True
3691,3692,42.285410,-71.064600,aftab uddin biswas corp,1911 Dorchester Ave,2124,813319,Other Social Advocacy Organizations,81,Other Services,9,1 to 9,Greater Ashmont,True
3694,3695,42.284405,-71.065338,1943 dot ave llc,1943 Dorchester Ave,2124,0,,99,Undefined,0,Not Available,Greater Ashmont,True
3697,3698,42.283257,-71.065224,american provisions,1971 Dorchester Ave,2124,445299,All Other Specialty Food Stores,44,Retail Trade,5,1 to 9,Greater Ashmont,True

In [29]:
business_dis4_df.to_csv("business_list_dis4.csv", index=False)

In [47]:
import geopandas as gpd
import pandas as pd
import matplotlib.pyplot as plt
from shapely.geometry import Point
# district 1


data = gpd.read_file("City_Council_Districts_View.geojson")
dis1 = data.loc[data["DISTRICT"]==1]
dis1_e=dis1.explode(index_parts=True)
df["inDis1"]=""
within_dis1 = []
for lon,lat in zip(df['longitude'], df['latitude']):
    point = Point(lon, lat)
#     within = pt.within(dis4_e["geometry"].values[0])
    dis1 = dis1_e["geometry"].values[0].contains(point)
    within_dis1.append(dis1)
df["district"] = 1
df["inDis1"] = within_dis1
business_dis1_df = df[df["inDis1"]==True]
business_dis1_df.to_csv("business_list_dis1.csv", index=False)

In [48]:
print(business_dis1_df.shape)
business_dis1_df.columns

(309, 24)

Index(['Unnamed: 0', 'latitude', 'longitude', 'business_name',
       'street_address', 'ZIP_code', 'NAICS_2017_6digit_code',
       'NAICS_2017_6digit_desc', 'NAICS_2017_2digit_code',
       'NAICS_2017_2digit_desc', 'estimated_employment', 'employment_buckets',
       'mainstreet', 'inDis1', 'inDis2', 'inDis3', 'inDis4', 'district',
       'inDis5', 'inDis6', 'inDis7', 'inDis8', 'inDis9', 'inDis10'],
      dtype='object')

In [49]:
# district 2
dis2 = data.loc[data["DISTRICT"]==2]
dis2_e=dis2.explode(index_parts=True)
df["inDis2"]=""
within_dis2 = []
for lon,lat in zip(df['longitude'], df['latitude']):
    point = Point(lon, lat)
    dis2 = dis2_e["geometry"].values[0].contains(point)
    within_dis2.append(dis2)
df["inDis2"] = within_dis2
df["district"] = 2
business_dis2_df = df[df["inDis2"]==True]
business_dis2_df.to_csv("business_list_dis2.csv", index=False)

In [50]:
print(business_dis2_df.shape)
business_dis2_df.columns

(784, 24)

Index(['Unnamed: 0', 'latitude', 'longitude', 'business_name',
       'street_address', 'ZIP_code', 'NAICS_2017_6digit_code',
       'NAICS_2017_6digit_desc', 'NAICS_2017_2digit_code',
       'NAICS_2017_2digit_desc', 'estimated_employment', 'employment_buckets',
       'mainstreet', 'inDis1', 'inDis2', 'inDis3', 'inDis4', 'district',
       'inDis5', 'inDis6', 'inDis7', 'inDis8', 'inDis9', 'inDis10'],
      dtype='object')

In [61]:
# district 3
dis3 = data.loc[data["DISTRICT"]==3]
dis3_e=dis3.explode(index_parts=True)
df["inDis3"]=""
within_dis3 = []
for lon,lat in zip(df['longitude'], df['latitude']):
    point = Point(lon, lat)
    dis3 = dis3_e["geometry"].values[0].contains(point)
    within_dis3.append(dis3)
df["inDis3"] = within_dis3
df["district"] = 3
business_dis3_df = df[df["inDis3"]==True]
business_dis3_df.to_csv("business_list_dis3_test.csv", index=False)
print(business_dis3_df.shape)

(0, 15)

In [62]:
# district 4
dis4 = data.loc[data["DISTRICT"]==4]
dis4_e=dis4.explode(index_parts=True)
df["inDis4"]=""
within_dis4 = []
for lon,lat in zip(df['longitude'], df['latitude']):
    point = Point(lon, lat)
    dis4 = dis4_e["geometry"].values[0].contains(point)
    within_dis4.append(dis4)
df["inDis4"] = within_dis4
df["district"] = 4
business_dis4_df = df[df["inDis4"]==True]
business_dis4_df.to_csv("business_list_dis4.csv", index=False)
business_dis4_df.shape

(411, 16)

In [54]:
# district 5
dis5 = data.loc[data["DISTRICT"]==5]
dis5_e=dis5.explode(index_parts=True)
df["inDis5"]=""
within_dis5 = []
for lon,lat in zip(df['longitude'], df['latitude']):
    point = Point(lon, lat)
    dis5 = dis5_e["geometry"].values[0].contains(point)
    within_dis5.append(dis5)
df["inDis5"] = within_dis5
df["district"] = 5
business_dis5_df = df[df["inDis5"]==True]
business_dis5_df.to_csv("business_list_dis5.csv", index=False)
business_dis5_df.shape

(568, 24)

In [53]:
# district 6
dis6 = data.loc[data["DISTRICT"]==6]
dis6_e=dis6.explode(index_parts=True)
df["inDis6"]=""
within_dis6 = []
for lon,lat in zip(df['longitude'], df['latitude']):
    point = Point(lon, lat)
    dis6 = dis6_e["geometry"].values[0].contains(point)
    within_dis6.append(dis6)
df["inDis6"] = within_dis6
df["district"] = 6
business_dis6_df = df[df["inDis6"]==True]
business_dis6_df.to_csv("business_list_dis6.csv", index=False)
business_dis6_df.shape

(909, 24)

In [55]:
# district 7
dis7 = data.loc[data["DISTRICT"]==7]
dis7_e=dis7.explode(index_parts=True)
df["inDis7"]=""
within_dis7 = []
for lon,lat in zip(df['longitude'], df['latitude']):
    point = Point(lon, lat)
    dis7 = dis7_e["geometry"].values[0].contains(point)
    within_dis7.append(dis7)
df["inDis7"] = within_dis7
df["district"] = 7
business_dis7_df = df[df["inDis7"]==True]
business_dis7_df.to_csv("business_list_dis7.csv", index=False)
business_dis7_df.shape

(461, 24)

In [56]:
# district 8
dis8 = data.loc[data["DISTRICT"]==8]
dis8_e=dis8.explode(index_parts=True)
df["inDis8"]=""
within_dis8 = []
for lon,lat in zip(df['longitude'], df['latitude']):
    point = Point(lon, lat)
    dis8 = dis8_e["geometry"].values[0].contains(point)
    within_dis8.append(dis8)
df["inDis8"] = within_dis8
df["district"] = 8
business_dis8_df = df[df["inDis8"]==True]
business_dis8_df.to_csv("business_list_dis8.csv", index=False)
business_dis8_df.shape

(255, 24)

In [57]:
# district 9
dis9 = data.loc[data["DISTRICT"]==9]
dis9_e=dis9.explode(index_parts=True)
df["inDis9"]=""
within_dis9 = []
for lon,lat in zip(df['longitude'], df['latitude']):
    point = Point(lon, lat)
    dis9 = dis9_e["geometry"].values[0].contains(point)
    within_dis9.append(dis9)
df["inDis9"] = within_dis9
df["district"] = 9
business_dis9_df = df[df["inDis9"]==True]
business_dis9_df.to_csv("business_list_dis9.csv", index=False)
business_dis9_df.shape

(695, 24)

In [46]:
# district 10
dis10 = data.loc[data["DISTRICT"]==10]
dis10_e=dis10.explode(index_parts=True)
df["inDis10"]=""
within_dis10 = []
for lon,lat in zip(df['longitude'], df['latitude']):
    point = Point(lon, lat)
    dis10 = dis10_e["geometry"].values[0].contains(point)
    within_dis10.append(dis10)
df["inDis10"] = within_dis10
df["district"] = 10
business_dis10_df = df[df["inDis10"]==True]
business_dis10_df.to_csv("business_list_dis10.csv", index=False)
business_dis10_df.shape

IndexError: index 0 is out of bounds for axis 0 with size 0

In [ ]:
# district 3 for some reason wasnt working so I had to try a new method, just found the ones in the all the other districts and found the remaining, checked like 15 to see if they were in district 3 and they were so i will just conclude that these are in district 3